/* Forecast.css */

.forecast {
  margin: 20px 0;
  width: 300px;
  padding: 20px;
  background: rgb(8, 42, 59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
}

.forecast h2 {
  text-align: center;
  color: #ffffff;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.forecast-item p {
  margin: 0;
  /* font-size: 18px; */
  color: #ffffff;
}

.align {
  align-items: center;
  display: flex;
  gap: 10px;
}

@media (max-width: 786px) {
  .forecast {
    width: 95%;
    padding: 10px;
    background: #09374e;
  }
}
