.container {
  background: rgba(33, 150, 144, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  height: auto;
  color: aliceblue;
  width: 100%;
}
.separate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.container-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 150px;
  background: rgba(33, 150, 144, 0.29);
  border-radius: 16px;
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    background: transparent;
  }

  .separate {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }
  .container-item {
    width: 40%;
    margin-bottom: 1rem;
  }
}
