.container {
  background: rgb(8, 42, 59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  height: auto;
  color: aliceblue;
  width: 100%;
}
.separate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  gap: 40px;
}

.container-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 150px;
  background: rgb(9, 55, 78);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border-radius: 28px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 20px;
}

.pagination button {
  background: #083a4d;
  color: rgb(195, 180, 180);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.pagination button:hover {
  background: #04242e;
  color: #aab5b8;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    background: transparent;
  }

  /* .separate {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  } */

  .separate {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Single column grid */
    gap: 2px; /* Adjust the gap between items in the grid */
  }
  .container-item {
    margin-bottom: 1rem;
  }
}
