.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 45px auto;
  max-width: 650px;
  height: 829px;
}

.title {
  color: #ebfffc;
  font-size: 25px;
  font-weight: bold;
}

.top-bar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
  color: #727576;
}

.top-bar input {
  display: flex;
  width: 362px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  background: #ebfffc;
  border-radius: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
}

.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 70px;
  background-color: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weather-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.weather-image img {
  margin-bottom: 10px;
}

.description {
  color: #ebfffc;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: auto;
}

.weather-temp,
.weather-location {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.data-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

.data-container .element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
}
.data-container .data {
  font-size: 34px;
  font-weight: bold;
}

.data-container .text {
  font-size: 18px;
  font-weight: bold;
}

.data-container .icon {
  margin-top: 10px;
}

[class*="container"] {
  width: 100%;
}
