.App {
  background: #011d2a;
  /* background-color: #022e43; */
  width: 100%;
  padding: 18px;
}

.App-container {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  width: 95%;
}

.column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 786px) {
  .App {
    width: 95%;
  }
  .App-container {
    flex-direction: column;
    gap: 0.5rem;
    width: 98%;
  }

  .column {
    width: 100%;
  }
}
